.bookingslot{
    background-color: rgb(185, 247, 247);
    padding: 10px 10px;
    /* height: 100vh; */
}
.bookingslot>h2{
    /* border: 3px solid black; */
    background-color: azure;
    padding: 10px 10px;
    margin: 0% 36%;
    border-radius: 55px;

}
.booking_header{
    padding: 15px 15px;
    text-align: center;
}
.bookingForm{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    align-items: center;
    padding: 30px 30px;
    margin: 0% 33%;
    border-radius: 15px;
}
.bookingName>input{
    width: 350px;
    height: 25px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 17px;
    padding: 10px 10px ;
    margin: 15px 15px ;
    color: solid black;
    background-color: aliceblue;


}

.bookingDate>input{
    width: 350px;
    height: 25px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 17px;
    padding: 10px 10px ;
    margin: 15px 15px ;
    color: solid black;
    background-color: aliceblue;


}

.bookingBtn{
    width: 150px;
    height: 45px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    padding: 10px 10px ;
    margin: 15px 15px ;
    color: solid black;
    cursor: pointer;
    transition: all 0.5s;
    /* box-shadow: 5px 5px 5px rgba(0,0,0,0.219); */
    border: 3px solid black;
    background-color: tomato;


}